<html>

<head>
  <title>Chess</title>
  <!-- Required meta tags bootstrap-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="icon" href="img/favico.png" />
</head>

<body>
  <div id="Connection" style="visibility: visible;">
    <div class="dropdown-menu-right float-right">
      <img type="button" src="img/account.png" width="40" height="40" class="d-inline-block align-top mr-3 mt-3"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></img>
      <div class="dropdown-menu">
        <form class="px-3" method="POST">
          <input type="submit" class="btn btn-success ml-4" formaction="/logout" value="Log out" />
        </form>
      </div>
    </div>
    <script>
      let username = [];
      if (sessionStorage.username === undefined) {
        let name = '<%= username %>'
        username.push(name);
        let usernameJSON = JSON.stringify(username);
        sessionStorage.setItem("username", usernameJSON);
        console.log(name);
      } else {
        let usernameJSON = sessionStorage.getItem("username");
        username = JSON.parse(usernameJSON);
        let name = '<%= username %>'
        username.push(name);
        usernameJSON = JSON.stringify(username);
        sessionStorage.setItem("username", usernameJSON);
        //console.log('username: ', JSON.parse(username));
      }
    </script>
    <h1 id="title" class="text-white">Bonjour <%= username %></h1>
    <button id="playB" class="btn btn-success btn-lg btn-block">Play as <%= username %> </button>

    <div id="Wait">
      <img src="img/walk.gif" id="gifW">
      <h2 id="waitingT">Please wait while we find another player...</h2>
    </div>
  </div>

  <div id="Phaser" style="visibility: hidden"></div>
  <!--visibility: hidden pour voir écran lancement.-->

  <div id="End"></div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="js/phaser.js"></script>
<script src="js/movements.js"></script>
<script src="js/client.js"></script>
<script src="js/index.js"></script>
<script src="js/launcher.js"></script>
<script src="js/game.js"></script>
<script src="js/piece.js"></script>
<script src="js/grid.js"></script>


<!-- Optional JavaScript Bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>